@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    min-height: 100vh;
}

body {
    background-color: #111111;
    color: #ffffff;
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1 0 auto;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

section {
    padding-top: 100px;
}

/** Header **/

.header {
    z-index: 999;
    position: fixed;
    width: 100%;
}

.header-inner {
    border-bottom: 1px solid #CDAA7D;
    padding-top: 20px;
    padding-bottom: 20px;
}

/** Footer **/

.footer {
    width: 100%;
    flex: 0 0 auto;
    margin-top: 100px;
}

.footer-inner {
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2rem;
}

.footer-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-text {
    font-size: 18px;
    margin-bottom: 5px;
}

.footer-copyright {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
}

/** Main section **/

.main-section {
    padding-top: 100px;
    min-height: 100vh;
    background: url("/local/templates/.default/img/bg_main.png");
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-section-header {
    text-align: center;
    max-width: 500px;
}

.main-section-title {
    font-size: 72px;
    font-style: normal;
}

/** Partners section **/

.partners-list {
    display: flex;
    justify-content: space-around;
}